Perplexica

.env
logs/
__pycache__/

nni/all-mpnet-base-v2
.DS_Store

LLM Quantization/Qunatization_8_bit.ipynbLLM Quantization/Qunatization_8_bit.ipynb
LLM Quantization/Qunatization_8_bit.ipynb
LLM Quantization/Qunatization_8_bit.ipynb
LLM Quantization/Qunatization_8_bit.ipynb